@charset "UTF-8";

/* 모바일 */


/* 푸터 영역 CSS */

.footer {
    order: 10;
    width: 100%;
    background: #474747;
}

.footer p {
    padding: 20px;
    padding: 1.250rem;
    font-size: 0.813em;
    font-size: 0.813rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 1px 1px #191919;
}


/* 태블릿 */

@media all and (min-width:768px) {
    /* 푸터 영역 CSS */
    .footer p {
        padding: 40px 0;
        padding: 2.500rem 0;
    }
}


/* PC */

@media all and (min-width:960px) {
    /* 푸터 영역 CSS */
    .footer {
        order: 9;
    }
    .footer p {
        padding-left: 3.125%;
        /* 30px ÷ 960px */
        text-align: left;
    }
}