@charset "UTF-8";

/* 모바일 */


/* 기본 */

#wrap {
    display: flex;
    /* 배치방향, 세로로 한줄배치 */
    flex-flow: column nowrap;
    width: 80%;
    /* box 중앙배치 */
    margin: 0 auto;
    /* 최대 너비값 */
    max-width: 1200px;
}

#wrap section {
    /* 박스 크기 결정 : 선, 패딩, 너빗값을 포함*/
    box-sizing: border-box;
}


/* sub page header */

.sub_header_section {
    order: 3;
    padding: 48px 0;
    padding: 3.000rem 0;
    text-align: center;
    background: #219af7;
}

.sub_header_section h2 {
    margin-bottom: 12px;
    margin-bottom: 0.750rem;
    font-size: 1.313em;
    font-size: 1.313rem;
    color: #fff;
}

.breadcrum_list li {
    display: inline;
    font-size: 0.813em;
    font-size: 0.813rem;
    font-weight: bold;
}


/* 콘텐츠 영역 CSS */

.content_section {
    order: 4;
    padding: 20px;
    padding: 1.250rem;
    background: #fff;
}


/* 푸터 영역 CSS */

.footer {
    order: 5;
    width: 100%;
    background: #474747;
}


/* 태블릿 */

@media all and (min-width:768px) {
    /* 콘텐츠 영역 CSS */
    .content_section {
        padding: 40px;
        padding: 2.500rem;
    }
}


/* PC */

@media all and (min-width:960px) {
    /* 기본 */
    #wrap {
        position: relative;
        width: 90%;
    }
    /* 서브 헤더 영역 CSS */
    .sub_header_section {
        order: 2;
    }
    /* 콘텐츠 영역 CSS */
    .content_section {
        order: 3;
        padding: 60px;
        padding: 3.750rem;
    }
    /* 푸터 영역 CSS */
    .footer {
        order: 4;
    }
}